body {
    width: 1024px;
    font-family:"Arial", sans-serif;
    font-size: 22px;
    padding-left: 150px;
    padding-right: 50px;
    background-color: cornflowerblue;
}
img {
    height: 700px;
    width: 484px;
    padding-left: 100px; 
}
p, li {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}
h1, h2, h3{
    
    padding-left: 200px;
}